@media(max-width: 450px){

    body{
      background-image: url("../images/pattern-background-mobile.svg");
      background-size: 100% 45%;
      background-repeat: no-repeat;
    }
  
    .box {
      font-family: "Red Hat Display", "sans-serif";
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 128px 10px;
      border-radius: 20px;
      background-color: hsl(225, 100%, 98%);
      height: 700px;
      width: 85%;
      background-image: url(../images/illustration-hero.svg);
      background-position: top center;
      background-repeat: no-repeat;
  }
  
  button.pay {
    background: #3829E0;
    padding: 1rem;
    width: 285px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 6px 8px 4px hsl(224deg 59% 88%);
    margin: 10px;
    cursor: pointer;
  }
  
  
  .box-annual-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(224, 232, 255, 0.30);
    width: 16rem;
    align-self: center;
    color: #7280A7;
    border-radius: 20px;
    /* padding: 20px; */
    /* margin: 20px; */
  }
  
  .box-annual-price::before {
    content: url(../images/icon-music.svg);
    position: relative;
     left: 0; 
    cursor: pointer;
  }
  
  
  
  .plan {
    position: relative;
    left: -1rem;
    /* bottom: 0.2rem; */
    margin-top: auto;
  }
  
  .change {
    position: relative;
    left: 0; 
    bottom: 15px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
  }
  
  }